body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1{
  font-family: 'Brush Script MT', cursive;
  color: #e6c72b;
  font-size: 60px;
}

.logo {
  width: 5%;
  display: flex;
}

nav {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 12%;
  background-color: rgb(247, 136, 0);
  z-index: 999;
  font-family: 'Arial', sans-serif;
}

.foot{
  background-color: rgb(247, 136, 0);
  position: relative;
  left: 0;
  width: 100%;
  height: 45%;
  font-family: 'Arial', sans-serif;
}
ul {
  list-style-type: none;
  padding: 1%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}


a{
  margin: 20px;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s ease-in-out;
  font-size: 24;
}

li {
  margin: 0;
}

.myslides {
  width: 100%;
  height: 80%;
  opacity: 0.9;
}

.but {
  position: absolute;
  z-index: 1;
  top: 30%;
  background-color: #34343461;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  height: 390px;
  width: 30px;
  border: none;
}

.tfoot{
  border-spacing:25px ;
}
.arrivals{
  height: 420px;
  background-color: white;
  width: 100%;
  overflow: auto;
}
.category{
  height: 750px;
  background-color: white;
  width: 100%;
}

.offers{
  height: 400px;
  background-color: white;
  width: 100%;
}
tr{
  color: rgb(250, 250, 247);
  font-size: 30px;
}
.right {
  right: 0%;
}

.left {
  left: 0%;
}

a:hover,
a:focus {
  transform: scale(1.1);
  text-decoration-color: rgb(255, 255, 0);
  text-decoration-line: underline;
}

.open-button {
  background-color: #d84e08;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: flex;
  position: fixed;
  bottom: 12%;
  right: 38%;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  max-height: 500px;
  padding: 10px;
  background-color: rgb(234, 205, 15);
  border-radius: 2%;
  border-color: #e98b06;
  border-style: solid;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width:300px;
  height:300px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.feedback input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.feed{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.feedbacks .butn{
  background-color: #d18df5;
  color: white;
  cursor: pointer;
  width: 10%;
  margin-bottom:10px;
  opacity: 0.8;
  border: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
